In [1]:
import re
import json
import numpy as np
import pandas as pd
from functools import partial

from sklearn.preprocessing import StandardScaler
import joblib


## Own specific functions 
from functions import *

In [40]:
from datetime import date, timedelta
dt = date.today() - timedelta(13976)
print('Current Date :',date.today())
print('5 days before Current Date :',dt)

Current Date : 2022-01-17
5 days before Current Date : 1983-10-13

In [43]:
today = date.today()
age = today.year - dt.year - ((today.month, today.day) < (dt.month, dt.day))

In [44]:
age

38

In [51]:
from datetime import date, timedelta

def age(days):

    today = date.today()
    birth_date = today - timedelta(abs(days))
    age = today.year - birth_date.year - ((today.month, today.day) < (birth_date.month, birth_date.day))

    return age

In [52]:
age(13976)

38

In [2]:
df = pd.read_csv(r"datasets\df_customers_to_predict.csv")

In [3]:
df_analysis(df, "df", analysis_type="header")

Analysis Header of df dataset
--------------------------------------------------------------------------------
- Dataset shape:			 48744 rows and 796 columns
- Total of NaN values:			 0
- Percentage of NaN:			 0.0 %
- Total of infinite values:		 0
- Percentage of infinite values:	 0.0 %
- Total of full duplicates rows:	 0
- Total of empty rows:			 0
- Total of empty columns:		 0
- Unique indexes:			 True
- Memory usage:				 296.0 MB

In [4]:
c

NameError: name 'c' is not defined

In [6]:
   COLUMNS = [
        "SK_ID_CURR", "CODE_GENDER", "DAYS_BIRTH", "DAYS_EMPLOYED",
        "CNT_CHILDREN", "FLAG_OWN_REALTY", "AMT_INCOME_TOTAL", 
        "AMT_CREDIT"
    ]

In [33]:
df = df[COLUMNS][df["SK_ID_CURR"] == 100001]

,SK_ID_CURR,CODE_GENDER,DAYS_BIRTH,DAYS_EMPLOYED,CNT_CHILDREN,FLAG_OWN_REALTY,AMT_INCOME_TOTAL,AMT_CREDIT
0,100001,1,-19241,-2329.0,0,0,135000.0,568800.0

In [36]:
numpy_array = df.to_numpy()
numpy_array

array([[ 1.00001e+05,  1.00000e+00, -1.92410e+04, -2.32900e+03,
         0.00000e+00,  0.00000e+00,  1.35000e+05,  5.68800e+05]])

In [28]:
df.iloc[0, df.columns.get_loc("SK_ID_CURR")]

100001

In [19]:
for col in df.columns:
    globals()[col] = df.iloc[0, df.columns.get_loc(col)]

In [18]:
df.iloc[0, df.columns.get_loc("SK_ID_CURR")]

100001

In [32]:
df["SK_ID_CURR"]

0    100001
Name: SK_ID_CURR, dtype: int64

In [20]:
    customer = {
        "SK_ID_CURR" : SK_ID_CURR,
        "CODE_GENDER" : CODE_GENDER,
        "DAYS_BIRTH" : DAYS_BIRTH,
        "DAYS_EMPLOYED" : DAYS_EMPLOYED,
        "CNT_CHILDREN" : CNT_CHILDREN,
        "FLAG_OWN_REALTY" : FLAG_OWN_REALTY,
        "AMT_INCOME_TOTAL" : AMT_INCOME_TOTAL,
        "AMT_CREDIT" : AMT_CREDIT,
    }

In [16]:
customer

{'SK_ID_CURR': 0    100001
 Name: SK_ID_CURR, dtype: int64,
 'CODE_GENDER': 0    1
 Name: CODE_GENDER, dtype: int64,
 'DAYS_BIRTH': 0   -19241
 Name: DAYS_BIRTH, dtype: int64,
 'DAYS_EMPLOYED': 0   -2329.0
 Name: DAYS_EMPLOYED, dtype: float64,
 'CNT_CHILDREN': 0    0
 Name: CNT_CHILDREN, dtype: int64,
 'FLAG_OWN_REALTY': 0    0
 Name: FLAG_OWN_REALTY, dtype: int64,
 'AMT_INCOME_TOTAL': 0    135000.0
 Name: AMT_INCOME_TOTAL, dtype: float64,
 'AMT_CREDIT': 0    568800.0
 Name: AMT_CREDIT, dtype: float64}

In [13]:
customer

{'SK_ID_CURR': 100001,
 'CODE_GENDER': 1,
 'DAYS_BIRTH': -19241,
 'DAYS_EMPLOYED': -2329.0,
 'CNT_CHILDREN': 0,
 'FLAG_OWN_REALTY': 0,
 'AMT_INCOME_TOTAL': 135000.0,
 'AMT_CREDIT': 568800.0}

In [8]:
"DAYS_BIRTH" : df["DAYS_BIRTH"].values[0],

-2329.0

In [ ]:
    # Filtering by customer id
    df = df[COLUMNS][df["SK_ID_CURR"] == id]
    
    # Serializing json 
    #parsed = json.loads(result)
    #json_object = json.dumps(parsed) 

    customer = {
        #"SK_ID_CURR" : df["SK_ID_CURR"].values[0].astype(int),
       # "CODE_GENDER" : df["CODE_GENDER"].values[0].astype(int),
        "DAYS_BIRTH" : df["DAYS_BIRTH"].values[0],
        "DAYS_EMPLOYED" : df["DAYS_EMPLOYED"].values[0],
        "CNT_CHILDREN" : df["CNT_CHILDREN"].values[0],
        "FLAG_OWN_REALTY" : df["FLAG_OWN_REALTY"].values[0],
        "AMT_INCOME_TOTAL" : df["AMT_INCOME_TOTAL"].values[0],
        "AMT_CREDIT" : df["AMT_CREDIT"].values[0],
    }

    return customer

In [ ]:
df.head()

In [ ]:
df.columns

In [ ]:
df.drop("SK_ID_CURR", axis=1, inplace=True)

In [ ]:
df_analysis(df, "df", analysis_type="header")

In [ ]:
#df = df[df["SK_ID_CURR"] == 100001]

In [ ]:
#df = df.head(800)

In [ ]:
#df.head()

In [ ]:
#scaler = StandardScaler()

In [ ]:
#df_scaled = scaler.fit_transform(df)

In [ ]:
# load the model from disk
model = joblib.load("models\model_1.0.2.pkl")

In [ ]:
result = model.predict(df)

In [ ]:
print(result)

In [ ]:
if 0 in result:
    print(np.sum(np.array(result) == 0))

In [ ]:
result_proba = model.predict_proba(df)

In [ ]:
print(result_proba)