In [1]:
import re
import json
import numpy as np
import pandas as pd
from functools import partial

import sklearn
from sklearn.preprocessing import StandardScaler
import joblib

import lightgbm as lgb
from lightgbm import LGBMClassifier

## Own specific functions 
from functions import *

In [2]:
x

NameError: name 'x' is not defined

In [ ]:
df = pd.read_csv(r"datasets\df_resampled.csv")

In [ ]:
df_analysis(df, "df", analysis_type="header")

In [ ]:
train_df = df[df["TARGET"].notnull()]
test_df = df[df["TARGET"].isnull()]

In [ ]:
train_df.head(5)

In [ ]:
best={'learning_rate': 0.002996768103678267, 'max_depth': 1, 'min_child_weight': 43.56681976377634, 'min_split_gain': 0.025360811467421862, 'n_estimators': 0, 'num_leaves': 1, 'reg_alpha': 0.047205508056568875, 'reg_lambda': 0.07740351793970067}

In [ ]:
print("Best: {}".format(best))

In [ ]:
N_ESTIMATORS = [8000, 10000, 12000]
NUM_LEAVES = [32, 34, 36]
MAX_DEPTH = [7, 8, 9]

In [ ]:
clf = LGBMClassifier(
    n_estimators=N_ESTIMATORS[best.get("n_estimators")],
    learning_rate=best.get("learning_rate"),
    num_leaves=NUM_LEAVES[best.get("num_leaves")],
    max_depth=MAX_DEPTH[best.get("max_depth")],
    reg_alpha=best.get("reg_alpha"),
    reg_lambda=best.get("reg_lambda"),
    min_split_gain=best.get("min_split_gain"),
    min_child_weight=best.get("min_child_weight"),
    #colsample_bytree=0.8, 
    #subsample=0.8,
    is_unbalance=False,
    n_jobs=-1 
)

In [ ]:
# Formatting columns name
train_df = train_df.rename(columns=lambda x:re.sub("[^A-Za-z0-9_]+", "", x))
df_lgbm = train_df.copy()
    
#scaler = StandardScaler()
    
# Divide in training/validation and test data
train_df = df_lgbm[df_lgbm["TARGET"].notnull()]
del df_lgbm, df, test_df
gc.collect()

In [ ]:
# Split dataset to train
X = train_df.drop(columns=["TARGET", "SK_ID_CURR"])
y_target = train_df.loc[:, "TARGET"]

In [ ]:
#X_scaled = scaler.fit_transform(X)

In [ ]:
clf.fit(X, y_target)

In [ ]:
# Saving the model based on the best parameters
joblib.dump(clf, "models/model_resampled.pkl".format(version=sklearn.__version__))

In [ ]:
xx

In [ ]:
train_df.head(15)

In [ ]:
Xnew_X = train_df.drop(columns=["TARGET", "SK_ID_CURR"])
new_X = X.tail(15)
#new_X_scaled = scaler.fit_transform(new_X)

In [ ]:
train_df.tail(15)

In [ ]:
result = model.predict(new_X)
print(result)

In [ ]:
result = initial_model.predict(new_X)
print(result)

In [3]:
# load the model from disk
initial_model = joblib.load("models\model_1.0.2.pkl")

In [4]:
# load the model from disk
model = joblib.load("models\model_1.0.2_1.pkl")

In [5]:
model_final = joblib.load("models\model_1.0.2_2.pkl")

In [6]:
df_customer = pd.read_csv(r"datasets\df_customers_to_predict.csv")

In [8]:
df_customer.head(10)

,SK_ID_CURR,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,...,CC_NAME_CONTRACT_STATUS_Signed_MAX,CC_NAME_CONTRACT_STATUS_Signed_MEAN,CC_NAME_CONTRACT_STATUS_Signed_SUM,CC_NAME_CONTRACT_STATUS_Signed_VAR,CC_NAME_CONTRACT_STATUS_nan_MIN,CC_NAME_CONTRACT_STATUS_nan_MAX,CC_NAME_CONTRACT_STATUS_nan_MEAN,CC_NAME_CONTRACT_STATUS_nan_SUM,CC_NAME_CONTRACT_STATUS_nan_VAR,CC_COUNT
0,100001,1,0,0,0,135000.0,568800.0,20560.5,450000.0,0.018850,...,0.047597,0.003583,0.106781,0.002955,0.0,0.0,0.0,0.0,0.0,37.083683
1,100005,0,0,0,0,99000.0,222768.0,17370.0,180000.0,0.035792,...,0.047597,0.003583,0.106781,0.002955,0.0,0.0,0.0,0.0,0.0,37.083683
2,100013,0,1,0,0,202500.0,663264.0,69777.0,630000.0,0.019101,...,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,96.000000
3,100028,1,0,0,2,315000.0,1575000.0,49018.5,1575000.0,0.026392,...,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,49.000000
4,100038,0,1,1,1,180000.0,625500.0,32067.0,625500.0,0.010032,...,0.047597,0.003583,0.106781,0.002955,0.0,0.0,0.0,0.0,0.0,37.083683
5,100042,1,1,0,0,270000.0,959688.0,34600.5,810000.0,0.025164,...,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,84.000000
6,100057,0,1,0,2,180000.0,499221.0,22117.5,373500.0,0.022800,...,0.047597,0.003583,0.106781,0.002955,0.0,0.0,0.0,0.0,0.0,37.083683
7,100065,0,0,0,0,166500.0,180000.0,14220.0,180000.0,0.005144,...,0.047597,0.003583,0.106781,0.002955,0.0,0.0,0.0,0.0,0.0,37.083683
8,100066,1,0,0,0,315000.0,364896.0,28957.5,315000.0,0.046220,...,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,15.000000
9,100067,1,1,0,1,162000.0,45000.0,5337.0,45000.0,0.018634,...,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,87.000000

In [ ]:
df_customer.tail(10)

In [ ]:
df_customer[(df_customer["FLAG_OWN_REALTY"] == 0) & (df_customer["FLAG_OWN_CAR"] == 0) & (df_customer["CNT_CHILDREN"] > 1) & (df_customer["AMT_INCOME_TOTAL"] < 85000) & (df_customer["AMT_CREDIT"] > (df_customer["AMT_INCOME_TOTAL"]*3))]

In [ ]:
pay = [100001, 456168, 456223, 100066, 100028, 456008]
no_pay = [100172, 105749, 452356, 452768, 117362]

In [9]:
df_temp =df_customer[df_customer["SK_ID_CURR"] == 100066]

In [10]:
new_X = df_temp.drop(columns=["SK_ID_CURR"])
new_X.shape

(1, 795)

In [ ]:
#new_X_scaled = scaler.fit_transform(new_X)

In [11]:
result = initial_model.predict(new_X)
print(result[0])

1.0

In [12]:
result_proba = initial_model.predict_proba(new_X)

In [13]:
print(result_proba)

[[0.07111357 0.92888643]]

In [14]:
result = model.predict(new_X)
print(int(result[0]))

0

In [15]:
result_proba = model.predict_proba(new_X)

In [16]:
print(result_proba)

[[0.91600967 0.08399033]]

In [17]:
result_model_final = model_final.predict(new_X)
print(result[0])

0.0

In [18]:
result_proba = model_final.predict_proba(new_X)

In [ ]:
print(result_proba)